.navbar {
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10000000000000000000000000000;
    text-align: left;
}


.navbar li{
    display: inline-block;
    padding: 0px 20px;
}
.navbar a{
    text-decoration: none;
    color: teal;
    text-align: left;
}
.titlebanner {
    background-color: blue;
    color: white;
    text-align: center;  
    margin-left:auto;
    margin-right:auto;
}
#small-pie {
    height: 310px;
    width: 413px;
    filter: drop-shadow(3px 3px 1px black);
}
.facts {
    background-color: greenyellow;
    text-align: center;
    padding: 25px 0px;
    margin-left:auto;
    margin-right:auto;
}
#yeert {
    color: goldenrod;
    background-color: wheat;
}
#real {
    color: black;
    font-size: 30px;
}
#yeet{
    font-size: 20px;
    vertical-align: top;
}
.title {
    font-size: 50px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
#review ul{
    list-style-type: none;
    margin-left:auto;
    margin-right:auto;
}
.stars {
    background-image: url(https://cdn.discordapp.com/attachments/697938036146700373/698664199240417340/5star.png);
    background-size: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.detail {
    margin-left:auto;
    margin-right:auto;
}
